{% extends 'emails/base_email.html.twig' %}

{% block body %}

	<h2 style="font-family: 'DIN-Regular', 'sans-serif';">Reestablecer la contrase単a</h2>
	<p>Puede reestablecer la contrase単a haciendo click en el siguiente enlace:</p> 
	<a href="{{url}}">Volver a establecer su contrase単a</a>
	<p>Su usuario es: {{user}}</p>
	<p>Si no ha solicitado un restablecimiento de contrase単a,
		puede ignorar este mensaje</p>
{% endblock %}

{% block footer %}
	
{% endblock %}