<div class="row mx-0">
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 py-lg-none py-md-none py-sm-3 py-3">
		<a href="https://www.gba.gob.ar/" target="_blank"><img alt="Logo provincia de Buenos Aires" class="logo-footer" src="{{ asset('images/logo_gba.svg') }}" /></a>
		<div class="redes-sociales">
			<p class="redes-sociales-title">Redes Sociales</p>
			<a target="_blank" aria-label="Logo Facebook" href="https://www.facebook.com/BAProvincia/"><i class="fab fa-facebook-f"></i></a>
			<a target="_blank" aria-label="Logo Twitter" href="https://twitter.com/baprovincia"><i class="fab fa-twitter"></i></a>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 py-lg-none py-md-none py-sm-3 py-3">
		<h5>Guía Servicios</h5>
		<p><a href="https://portal.gba.gob.ar/web/portal/" target="_blank" >Portal de trámites</a></p>
		<p><a href="http://www.gba.gob.ar/registrodelaspersonas" target="_blank">Registro de las Personas</a></p>
		<p><a href="https://www.gba.gob.ar/seguridadvial" target="_blank">Seguridad Vial</a></p>
		<p><a href="http://www.arba.gov.ar/" target="_blank" title="">ARBA</a></p>
		<p><a href="https://www.boletinoficial.gba.gob.ar/" title="" target="_blank">Boletín Oficial</a></p>
		<p><a href="http://www.gba.gob.ar/registrodelaspersonas/pasaporte" title="" target="_blank">Pasaporte</a></p>
		<p><a href="http://www.gba.gob.ar/contrataciones" target="_blank">Contrataciones</a></p>
		<p><a href="http://sistemas.gba.gov.ar/consulta/expedientes/" target="_blank" title="">Expedientes</a></p>
		<p><a href="http://www.gba.gob.ar/pliegosactividad/" target="_blank">Pliegos</a></p>
		<p><a href="https://www.gba.gob.ar/asuntos_parlamentarios_y_electorales/datos_elecciones_2017" target="_blank">Elecciones</a></p>
		<p><a href="http://www.gba.gov.ar/servicios" target="_blank">Ver Todos</a></p>
		<p><a href="https://www.gba.gob.ar/Politicasdeprivacidad" target="_blank">Políticas de privacidad</a></p>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 py-lg-none py-md-none py-sm-3 py-3">
		<h5>Áreas de Gobierno</h5>
		<p><a href="https://www.bancoprovincia.com.ar/" target="_blank">Banco Provincia</a></p>
		<p><a href="http://www.ips.gba.gob.ar/jubilaciones_pensiones.html" target="_blank">Beneficios Previsionales</a></p>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 py-lg-none py-md-none py-sm-3 py-3">
		<h5>Uso Interno</h5>
		<p><span><a href="https://mail.gba.gob.ar" target="_blank"> Webmail GBA <span class="color-white">(nuevo)</span></a></span></p>
		<p><a href="https://webmail.gba.gob.ar/" target="_blank">Webmail HORDE</a></p>
		<p><a href="https://sistemas.gba.gob.ar/login.php" target="_blank" title="">Sistemas</a></p>
		<p><a href="https://www.gba.gob.ar/capitalhumano" title="" target="_blank">Capital Humano</a></p>
		<p><a href="http://www.gba.gob.ar/mesadeayuda" target="_blank">Mesa de Ayuda</a></p>
		<p><a href="http://gdeba.gba.gob.ar/" target="_blank">GDEBA</a></p>
	</div>
</div>