{% extends 'base.html.twig' %}

{% block title %}La Receta Justa{% endblock %}

{% block headerTitle %}
Gestión democrática
{% endblock headerTitle %}

{% block headerBreadcrumb %}
	<li class="breadcrumb-item"><a href='index.html' ><i class="feather icon-home"></i></a></li>
	<li class="breadcrumb-item"><a>Inicio</a></li>
{% endblock headerBreadcrumb %}

{% block body %}
<section id="inicio-sistema">
    <h2 class="title m-4">La Receta Justa </h2>
    <hr class="hr-gray m-3">
    {# <div class="col-sm-12"> #}
        <div class="card">

            <div class="card-body">
                <p>
                   Este sistema brinda soporte para sarasa
                </p>
            </div>
        </div>
    {# </div> #}
</section>
{% endblock body %}
